<link rel="stylesheet" href="../components/dropdown/selected-full.css">

<div class="selected-full">
    <div class="selected-full__header">
        <extends src='./src/components/dropdown/selected-default.html'>
            <block name="selectedName">Dropdown</block>
        </extends>
    </div>
    <div class="selected-full__box">
        <ul class="selected-full__list">
            <li class="selected-full__text">Value</li>
            <li class="selected-full__text selected-full__text_active">Value</li>
            <li class="selected-full__text">Value</li>
        </ul>
    </div>
</div>