<link rel="stylesheet" href="../components/dropdown/selected-full.css">

<div class="selected-full">
    <extends  src='./src/components/dropdown/selected-default.html'>
        <block name="selectedName">Dropdown</block>
    </extends>
    <div class="selected-full__list">
        <ul class="selected-list">
            <li class="selected-text__list">Value</li>
            <li class="selected-text__list selected-text__list_active">Value</li>
            <li class="selected-text__list">Value</li>
        </ul>
    </div>
</div>