@import './selected-default.css';


.selected__icon-left {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: -8px;

}