<link rel="stylesheet" href="../components/progressing/progressing-full.css">

<div class="progressing-full">
    <div class="progressing-full__line">
        <div class="progressing-full__line progressing-full__line_progress"></div>
    </div>
    <div class="progressing-full__points">
        <div class="progressing-full__point">
            <extends  src='./src/components/icons/check-box.html'>
            </extends>
        </div>
        <div class="progressing-full__point">2</div>
        <div class="progressing-full__point progressing-full__point_default">3</div>
    </div>
</div>