@import './input-default.css';

.input_left-icon {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.input__text_left-icon {
    width: 184px;

}

.input__icon_left {
    position: relative;
    left: 20px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}