@import './input-default.css';

.input_left-icon{
   position: relative;
   display: flex;
   justify-content: flex-start;
   align-items: center;
  
}

.input__text_left-icon{
    position: relative;


}
.input__icon_left{
    display: flex;
    position: relative;
    margin: 16px;
    

}