@import './input-default.css';

.input_password {
    position: relative;
}

.input__text_password {
    position: absolute;
    width: 180px;
    margin-right: 48px;

}

.input__icon {
    position: relative;
    left: 100px;
}