.label{
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E7FA;
    border-radius: 4px;
}
.label__text{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 13px;
    font-size: 11px;
    text-align: center;
    color: #6979F8;
}