<link rel="stylesheet" href="../components/search-bar/search-full.css">

<div class="search-full">
    <div class="search-full__search">
         <extends  src='./src/components/search-bar/search-bar-full-active.html'>
        </extends>
    </div>

    <div class="search-full__list">
        <div class="search-full__line">
            <extends src='./src/components/icons/line.html'>
            </extends>
        </div>

        <div class="search-full__text">
            <ul class="search__select">
                <li class="search-select__text">
                    <span class="text__original">San Franc<span class="text__version">isco</span> </span>
                </li>
                <li class="search-select__text">
                        <span class="text__original">San Franc<span class="text__version">ronaldo</span> </span>
                </li>
                <li class="search-select__text">
                        <span class="text__original">San Franc<span class="text__version">huo</span> </span>
                </li>
                <li class="search-select__text">
                        <span class="text__original">San Franc<span class="text__version">ocain</span> </span>
                </li>
            </ul>
        </div>

    </div>
</div>