<link rel="stylesheet" href="../components/search-bar/search-bar-active.css">

<div class="search search__default search__default_active">
    <div class="search__icon search-default__icon search-default__icon_active">
        <extends  src='./src/components/icons/zoom-large.html'>
        </extends>
    </div>

    <div class="search__text search-default__text search-default__text_active">
        <input class="search__text search-default__text search-default__text_active" type="search" name="search" text="">
    </div>

    <div class="search__icon-close search__icon-close_active">
        <extends  src='./src/components/icons/close-small.html'>
        </extends>
    </div>
    
</div>