<link rel="stylesheet" href="../components/rating/rating.css">
<div class="rating">
    <div class="rating__star rating__star_full">
        <extends  src='./src/components/icons/star.html'>
        </extends>
    </div>
    <div class="rating__star rating__star_full">
        <extends  src='./src/components/icons/star.html'>
        </extends>
    </div>
    <div class="rating__star rating__star_half">
        <div class="rating__half-hidden">
            <extends src='./src/components/icons/star.html'>
            </extends>
        </div>
    </div>
    <div class="rating__star rating__star_default">
    </div>
    <div class="rating__star rating__star_default">
    </div>
</div>