.loading-circle {
    width: 85px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loading-circle__icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    animation: loading-animation 0.9s linear infinite;
}

.loading-circle__text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    line-height: 20px;
    font-size: 15px;
    color: #3F3356;
}

@keyframes loading-animation {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    to {
        transform: rotate(-360deg);
    }
}