<link rel="stylesheet" href="../components/tab/tab.css">

<div class="tab">
    <div class="tab__box tab__box_active">
        <div class="tab__text tab__text_active">
            <block name="tab__text1">Test</block>
        </div>
        <div class="tab__line tab__line_active"></div>
    </div>
    <div class="tab__box tab__box_default">
        <div class="tab__text tab__text_default">
            <block name="tab__text2">Test</block>
        </div>
        <div class="tab__line tab__line_default"></div>
    </div>
    <div class="tab__box tab__box_default">
        <div class="tab__text tab__text_default">
            <block name="tab__text3">Test</block>
        </div>
        <div class="tab__line tab__line_default"></div>
    </div>
    <div class="tab__box tab__box_default">
        <div class="tab__text tab__text_default">
            <block name="tab__text4">Test</block>
        </div>
        <div class="tab__line tab__line_default"></div>
    </div>
</div>