<link rel="stylesheet" href="../components/avatars/circle-avatars.css">

<div class="circle-avatars">
    <div class="circle-avatars__box circle-avatars__box_small">
        <img class="circle-avatars__img" src="../components/avatars/ava.svg" alt="avatar">
    </div>
    <div class="circle-avatars__box circle-avatars__box_middle">
        <img class="circle-avatars__img" src="../components/avatars/ava.svg" alt="avatar">
    </div>
    <div class="circle-avatars__box circle-avatars__box_big">
        <img class="circle-avatars__img" src="../components/avatars/ava.svg" alt="avatar">
    </div>
</div>