<link rel="stylesheet" href="../components/avatars/square-avatars.css">

<div class="square-avatars">
    <div class="square-avatars__box square-avatars__box_small">
        <img class="square-avatars__img" src="../components/avatars/ava-sq.svg" alt="avatar">
    </div>
    <div class="square-avatars__box square-avatars__box_middle">
        <img class="square-avatars__img" src="../components/avatars/ava-sq.svg" alt="avatar">
    </div>
    <div class="square-avatars__box square-avatars__box_big">
        <img class="square-avatars__img" src="../components/avatars/ava-sq.svg" alt="avatar">
    </div>
</div>