<link rel="stylesheet" href="../components/segmented-control/segmented-control.css">

<div class="segmented-control">

    <extends src='./src/components/segmented-control/segment.html'>
        <block name="segment-text">Homestay</block>
    </extends>

    <div class="segment segment_default">
        <div class="segment__text segment__text_default">
            <block name="segment2-text">Test</block>
        </div>
    </div>
    <div class="segment segment_default">
        <div class="segment__text segment__text_default">
            <block name="segment3-text">Test</block>
        </div>
    </div>
    <div class="segment segment_default">
        <div class="segment__text segment__text_default">
            <block name="segment4-text">Test</block>
        </div>
    </div>
</div>