@import './input-default.css';

.input_password{
   position: relative;
}

.input__text_password{
    position: absolute;
    width: 180px !important;
    margin-right:48px !important;
    flex-shrink: 0;
}
.input__icon{
    position: relative;
    left:100px;
}