<link rel="stylesheet" href="../components/date-picker/date-picker-full.css">

<div class="date-picker__full">
    <div class="date-picker__default date-picker__default_for-full">
            <input type="text" class="date-picker__input" value="07/03/2019">
            <div class="date-picker__icon-calendar">
                <extends  src='./src/components/icons/calendar.html'>
                </extends>
            </div>
    </div>

    <div class="date-picker__calendar calendar">
        <div class="calendar__header">
            <div class="calendar__current-month">
                <div class="calendar__button-pre">
                    <extends  src='./src/components/icons/arrow-left.html'>
                    </extends>
                </div>
                <div class="calendar__month-name">
                    <span>September</span> 
                </div>
                <div class="calendar__button-next">
                    <extends  src='./src/components/icons/arrow-right-active.html'>
                    </extends>
                </div>
            </div>
            <div class="calendar__title-days">
                <span class="calendar__title-day">MON</span>
                <span class="calendar__title-day">TUE</span>
                <span class="calendar__title-day">WED</span>
                <span class="calendar__title-day">THU</span>
                <span class="calendar__title-day">FRI</span>
                <span class="calendar__title-day">SAT</span>
                <span class="calendar__title-day">SUN</span>
            </div>
            <div class="calendar__line">
                <extends src='./src/components/icons/line.html'>
                </extends>
            </div>
        </div>
        <div class="calendar__table">
            <div class="calendar__week">
                <div class="calendar__num calendar__num_opancy">28</div>
                <div class="calendar__num calendar__num_opancy">29</div>
                <div class="calendar__num calendar__num_opancy">30</div>
                <div class="calendar__num calendar__num_opancy">31</div>
                <div class="calendar__num">1</div>
                <div class="calendar__num">2</div>
                <div class="calendar__num calendar__num_sunday">3</div>
            </div>
            <div class="calendar__week">
                <div class="calendar__num">4</div>
                <div class="calendar__num">5</div>
                <div class="calendar__num">6</div>
                <div class="calendar__num calendar__num_current-day">7</div>
                <div class="calendar__num">8</div>
                <div class="calendar__num">9</div>
                <div class="calendar__num calendar__num_sunday">10</div>
            </div>
            <div class="calendar__week">
                <div class="calendar__num">11</div>
                <div class="calendar__num">12</div>
                <div class="calendar__num calendar__num_choose-day">13</div>
                <div class="calendar__num">14</div>
                <div class="calendar__num">15</div>
                <div class="calendar__num">16</div>
                <div class="calendar__num calendar__num_sunday">17</div>
            </div>
            <div class="calendar__week">
                <div class="calendar__num">18</div>
                <div class="calendar__num">19</div>
                <div class="calendar__num">20</div>
                <div class="calendar__num">21</div>
                <div class="calendar__num">22</div>
                <div class="calendar__num">23</div>
                <div class="calendar__num calendar__num_sunday">24</div>
            </div> 
            <div class="calendar__week">  
                <div class="calendar__num">25</div>
                <div class="calendar__num">26</div>
                <div class="calendar__num">27</div>
                <div class="calendar__num">28</div>
                <div class="calendar__num">29</div>
                <div class="calendar__num">30</div>
                <div class="calendar__num"></div>
            </div> 
        </div>
    </div>
</div>