<link rel="stylesheet" href="../components/search-bar/search-small-active.css">

<div class="search search__default-small search__default-small_active">
    <div class="search__icon search-default-small__icon search-default__icon_active">
        <extends  src='./src/components/icons/zoon-small.html'>
        </extends>
    </div>
    <div class="search__text search-default-small__text search-default__text_active">
        <input class="search__text search-default-small__text search-default__text_active" type="search" name="search" text="">
    </div>
    <div class="search__icon-close search__icon-close_active">
        <extends  src='./src/components/icons/close-small.html'>
        </extends>
    </div>
</div>