<link rel="stylesheet" href="../components/dropdown/select-with-tags.css">

<div class="select-with-tags input">
    
    <div class="select-with-tags__badge">
        <extends  src='./src/components/dropdown/badge.html'>
            <block  name="badgeName">Value</block>
        </extends>
    </div>

    <div class="select-with-tags__badge"></div>
        <extends  src='./src/components/dropdown/badge.html'>
            <block name="badgeName">Value 2</block>
        </extends>
    </div>
    
</div>