<link rel="stylesheet" href="../components/direction-form/direction-form-default.css">

<div class="direction-form">
    <div class="direction-form__label">
        <div class="direction-form__icon">
            <extends  src='./src/components/icons/subscrib.html'>
            </extends>
        </div>
        <div class="direction-form__title">
                 Your location
        </div>
    </div>
     <div class="direction-form__icons">
            <div class="direction-form__connect">
                <div class="oval__default"></div>
                <div class="oval__default"></div>
                <div class="oval__default"></div>
            </div>
            <div class="direction-form__line">
                <extends src='./src/components/icons/line.html'>
                </extends>
            </div>
            <div class="direction-form__arrows">
                    <extends src='./src/components/icons/arrows.html'>
                    </extends>
            </div>
    </div>
    <div class="direction-form__input">
        <div class="direction-form__icon direction-form__icon_geo">
            <extends  src='./src/components/icons/geo-big.html'>
            </extends>
        </div>
        <input type="text" class="direction-form__title" placeholder="Enter destination...">
    </div>
   

</div>
